// http://www.sassmeister.com/

#monitors-area {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;
}

.monitor {
  width: 30%;
  height: 30%;
  margin: 1%;
  box-sizing: border-box;
  background-color: #3223FF;
}

.monitor-canvas {
	box-sizing: border-box;
	display: block;
	margin: 1%;

	border-radius: 5px;

	width: 450px;
  	height: 450px;

  	background-color: #90FF66;
}