<html>
    <body>
        <head>
            <title>Tornado WebSockets</title>
            <!-- <script src="/static/WebSocketHandler.js"></script> -->
            <!-- <script src="/static/script.js"></script>  -->
            <script src="{{ static_url("Chart.min.js") }}"></script> 
            <script src="{{ static_url("WebSocketHandler.js") }}"></script> 
            <script src="{{ static_url("script.js") }}"></script> 
        </head>
         
         
        <strong>Message to Send:</strong> <input type="text" id="msg" maxlength="25">
        <input type="button" onclick="sendMsg();" value="Send">
    </body>
</html>

