<html>
    <body>
        <head>
            <title>Hardware Monitor</title>
            <!-- <script src="/static/WebSocketHandler.js"></script> -->
            <!-- <script src="/static/script.js"></script>  -->
            <script src="{{ static_url("Chart.js") }}"></script> 
            <script src="{{ static_url("ChartsConfig.js") }}"></script> 
            <script src="{{ static_url("WebSocketHandler.js") }}"></script> 
            <script src="{{ static_url("script.js") }}"></script> 
            <link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}">
        </head>
        <span id="forkongithub"><a href="https://github.com/miguelperes/usage-monitor-websocket">GitHub</a></span>

        <div id="main">
            <!-- <img src="{{ static_url("images/noisy.png") }}"> -->
            <h1 id=title>Hardware Monitor</h1>
            <div id="about">
                This website displays the system-wide CPU utilization and virtual memory usage (as a percentage) of currently connected computers (running the python app) 
            </div>
            <div id="monitors-area"></div>
        </div>





         
        <!-- <strong>Message to Send:</strong> <input type="text" id="msg" maxlength="25"> -->
        <!-- <input type="button" onclick="sendMsg();" value="Send"> -->
    </body>
</html>

